@{
    ViewData["Title"] = "Home Page";
}
@model EmailModel

<partial name="_Notification" />
<div class="m-5">
<form method="post">
    <div class="m-5 section pt-3 mt-4">
        <div class=" pb-2">
            <h2 class="text-primary">Send Email with HTML Template using .net8 MVC</h2>
            
        </div>
        <div class="form-group mb-3">
            <label asp-for="ReceiverEmail"></label>
            <input asp-for="ReceiverEmail" class="form-control" />            
            <span asp-validation-for="ReceiverEmail" class="text-danger"></span>
        </div>
            <div class="form-group mb-3">
            <label asp-for="EmailSubject"></label>
            <input asp-for="EmailSubject" class="form-control" />
            <span asp-validation-for="EmailSubject" class="text-danger"></span>
        </div>
            <div class="form-group mb-5">
            <label asp-for="EmailBody"></label>
            <textarea asp-for="EmailBody" class="form-control"></textarea>           
            <span asp-validation-for="EmailBody" class="text-danger"></span>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md 6">
                <button type="submit" class="btn btn-primary form-control">Send Mail</button>
            </div>
            
        </div>
    </div>

</form>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

